<section class="main-menu">
  <h5 class="component-title">Tax Remittance - Main Menu</h5>
  <div>
      <!--<span>{{ periods | json }}</span>-->
      <br>
    <span>Available Periods</span>    
    
    <select>
      <option *ngFor="let period of periods">{{ period }}</option>
    </select>
  </div>
  <ul>
    <li (click)="onSelect(1)"><span>Load Monthly Data</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(2)"><span>Tax Remittance Verficiation</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(3)"><span>Process Tax Remittance - CA</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(4)"><span>Process Tax Remittance - US</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(5)"><span>Generate General Tax Report</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(6)"><span>Export Templates</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(7)"><span>Tax Remittance - Administration</span><span><a class="menu-anchor" href="#">+</a></span></li>
    <li (click)="onSelect(8)"><span>Reconciliation</span><span><a class="menu-anchor" href="#">+</a></span></li>
  </ul>
</section>